body, html {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.views {
  width: 100%;
  height: 90%;
  background-color: white;
}

.page {
  min-width: 100%;
  min-height: 100%;
}

.page--home {
  background-image: url('./assets/pinboard-texture.jpg');
  background-position: center;
  box-shadow: inset 0px 0px 22px 1px rgba(0, 0, 0, 0.568)
}

.header--main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 10vh;
  width: 100vw;
  background-image: url('./assets/horizontal-wood-plank-texture.jpg');
  background-position: center;
  background-size: cover;
}

.header__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.invis-overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 70vw;
  top: 0;
  right: 0;
  z-index: 100;
}

.invis-overlay--active {
  display: block;
}

.menu-container {
  height: 100%;
  width: 5%;
  background-image: url('./assets/paper-texture.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.185);
}

.open-menu-button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.open-menu-button i {
  text-align: center;
  font-size: 46px;
  cursor: pointer;
}

.side-menu {
  position: absolute;
  height: 100vh;
  width: 0vw;
  overflow: hidden;
  background-image: url('./assets/paper-texture.jpg');
  background-position: center;
  background-size: cover;
  animation: 0.3s ease forwards;
  left: 0;
  top: 0;
  z-index: 100;
}

.side-menu--closed {
  animation-name: side-menu-detract;
}

.side-menu--open {
  animation-name: side-menu-expand;
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.185);
  overflow: auto;
}

.side-menu__item {
  width: 100%;
  display: flex;
}

.close-menu-button {
  height: 10%;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: auto;
}

.close-menu-button i {
  font-size: 34px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
  cursor: pointer;
}

.close-menu-button h2 {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.menu-nav {
  height: 10%;
}

.menu-nav__list {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-nav__list__item a {
  color: black;
}

.menu-nav__list__item a i {
  font-size: 48px;
}

.link--active {
  text-decoration: underline;
}

@keyframes side-menu-expand {
  from {
    display: none;
    width: 0vw;
  }
  to {
    display: flex;
    width: 30vw;
  }
}

@keyframes side-menu-detract {
  from {
    display: flex;
    width: 30vw;
  }
  to {
    display: none;
    width: 0vw;
  }
}
